a,
abbr,
acronym,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
u,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  color: #333;
}

img {
  width: 100%;
}

body {
  background: #e9ecf1;
}

.up {
  color: #c84a31;
}
.down {
  color: #1261c4;
}
